<header>
  <div class="logo" onclick="window.location.href='/'">
      <img src="/img/logo.png" alt="Logo" style="height: 40px;">
  </div>
  <div class="menu">
      <button onclick="window.location.href='/carrinho'">Carrinho</button>
      <button onclick="toggleMenu()">Menu</button>
  </div>
</header>
