<h2>Seu Carrinho</h2>
<ul>
    <% if (itens.length > 0) { %>
        <% itens.forEach(item => { %>
            <li>
                <img src="/img/<%= item.Produto.imagem %>" alt="<%= item.Produto.nome %>">
                <p><%= item.Produto.nome %> - R$ <%= item.Produto.preco %></p>
            </li>
        <% }) %>
    <% } else { %>
        <p>Seu carrinho está vazio.</p>
    <% } %>
</ul>
