<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Seu Carrinho</h1>
    <ul>
        <% itensCarrinho.forEach(item => { %>
            <li><%= item.nome %> - Quantidade: <%= item.quantidade %></li>
        <% }) %>
    </ul>
</body>
</html>
