<header>
    <div class="logo"><a href="/"><img src="/img/logo.png" alt="Logo"></a></div>
    <nav>
      <ul>
        <li><a href="/carrinho"><img src="/img/carrinho.png" alt="Carrinho"></a></li>
        <li><a href="#">Menu</a>
          <ul class="dropdown">
            <li><a href="/login">Login</a></li>
            <li><a href="/cadastro">Cadastrar</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  