<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coma Bem - Sistema de Comercialização de Alimentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="/img/logoCB.png" alt="Logo" height="40" />
        </div>

        <div class="search-form">
            <form action="/buscar" method="GET">
                <input type="text" name="q" class="search-input" placeholder="Buscar produtos..." />
                <button type="submit" class="search-btn">Buscar</button>
            </form>
        </div>

        <div class="header-buttons">
            <a href="/auth/login" class="header-btn">Login</a>
            <a href="/user/perfil" class="header-btn">Usuário</a>
            <a href="/carrinho" class="header-btn">Carrinho</a>
        </div>
    </header>

    <nav class="menu-lateral">
        <ul class="ul">
            <li class="item-menu">
                <a href="/" class="icon"><i class="fas fa-home"></i><span class="txt-link">Destaques</span></a>
            </li>
            <li class="item-menu">
                <a href="/produtos" class="icon"><i class="fa fa-shopping-bag"></i><span class="txt-link">Produtos</span></a>
            </li>
            <li class="item-menu">
                <a href="/ofertas" class="icon"><i class="fas fa-tags"></i><span class="txt-link">Ofertas</span></a>
            </li>
            <li class="item-menu">
                <a href="/sobre" class="icon"><i class="fas fa-info-circle"></i><span class="txt-link">Sobre
                        Nós</span></a>
            </li>
            <li class="item-menu">
                <a href="/adicionar-produto" class="icon"><i class="fa fa-plus"></i><span class="txt-link">
                    Adicionar Produto</span></a>
            </li>
        </ul>
    </nav>

    <%- body %>

    <footer>
        <p>&copy; 2024 Coma Bem - Todos os direitos reservados</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/scripts.js"></script>
</body>

</html>