<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="form-container">
        <div class="form-box">
            <h2>Login</h2>
            <form action="/auth/login" method="POST">
                <div>
                    <input type="email" name="email" placeholder="E-mail" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Senha" required>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <p>Ainda não possui um cadastro? <a href="/auth/register">Cadastre-se aqui</a></p>
        </div>
    </div>
</body>
</html>
