<!DOCTYPE html>
<html>
<head>
    <title>Verduras</title>
</head>
<body>
    <h1>Verduras</h1>

    <div class="products">
        <% if (typeof produtos !== 'undefined') { %>
            <% produtos.forEach(produto => { %>
                <div class="product-card">
                    <img src="<%= produto.imagem %>" alt="<%= produto.nome_produto %>" class="product-image">
                    <div class="product-description" style="display: none;">
                        <p><%= produto.descricao %></p>
                        <p>Preço: R$<%= produto.preco %></p>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>Sem produtos disponíveis.</p>
        <% } %>
    </div>
</body>
</html>